<!DOCTYPE html>
<html>
  <head>
    <title>NewGem</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Press+Start+2P|Unica+One" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <nav class="navbar navbar-default navbar-static-top container-fluid " role="navigation">
  <div class='container'>
    <div class="navbar-header"> 
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </div>
      </button>
      <%= link_to root_path, class: "navbar-brand" do %>
        <i class="fa fa-group"></i>
         Home
      <% end %>
      
       <%= link_to gallery_path, class:"navbar-brand" do %>
       <i class="fa fa-camera"></i>
       Gallery
       <% end %>
       
       <%= link_to about_path, class:"navbar-brand" do %>
       <i class="fa fa-eye"></i>
       About
       <% end %>
       
       
       <%= link_to blog_path, class:"navbar-brand" do %>
       <i class="fa fa-file-o"></i>
       Blog
       <% end %>
      
    </div>
    <div class="collapse navbar-collapse" id="main-nav-collapse">
        
    
       
      <div class="nav navbar-nav navbar-right">
        <%= link_to new_contact_path, class:"navbar-brand" do %>
          <i class="fa fa-floppy-o"></i>
          Contact
          <% end %>
        </div>
        </div>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
    
    <div class="container-fluid">
    <%= yield %>
    </div>
  </body>
</html>
